[submodule "clustergrammer"]
	path = clustergrammer
	url = https://github.com/daniloimparato/clustergrammer
	branch = temp
[submodule "chromosummary"]
	path = chromosummary
	url = https://github.com/daniloimparato/chromosummary
